body {
  overflow-x: hidden;
}

.hand {
  position: relative;
  top: 100px;
  height: 450px;
  transform: rotate(90deg);
}

#player-hand-div {
  position: absolute;
  top: 20px;
  right: 10px;
  transform: rotate(180deg);
  transform: scaleX(-1);
}

#controls {
  position: absolute;
  display: flex;
  bottom: 10px;
  padding: 2px 4px 2px 4px;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%);
  flex-wrap: nowrap;
  background-color: rgb(73, 75, 77);
}

.control {
  background-color: #f1f1f1;
  border-radius: 30px;
  width: 75px;
  margin: 7px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#score-board {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 20vw;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-family: Verdana;
}

#current-score {
  background-color: rgb(73, 75, 77);
  margin: 0px 5%;
  border-radius: 25px;
  font-size: 3em;
  width: 90%;
  color: #f1f1f1;
}

#last-inning-score {
  background-color: rgb(175, 177, 180);
  margin: 0px 20%;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 0px 0px 25px 25px;
  font-size: 1.4em;
  width: 60%;
  color: #000000;
}

#inning {
  /* background-color: rgb(75, 79, 83); */
}
.modal-head {
  color: #666;
}
.modal-input {
  font-size: larger;
  outline: none;
  border: 1px solid rgb(175, 177, 103);
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  width: 95%;
  color: rgb(100, 100, 100);
}
.modal-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  margin: 15px 0px 15px 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(192, 196, 155);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.modal-button:hover {
  background-color: rgb(107, 117, 83);
}

.modal-button:active {
  background-color: rgb(186, 190, 121);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 120px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 100px 800px 0 rgba(0, 0, 0, 0.2),
    0 100px 25px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.8s;
}

@media only screen and (min-width: 768px) {
  .modal-content {
    width: 45%;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  padding: 1px 16px;
  background-color: rgb(143, 136, 79);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: rgb(143, 136, 79);
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 60%;
}

/* The Close Button */
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  margin: 0.25rem;
}

div.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 1rem;
  background-color: skyblue;
}

#coin {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 2rem 0rem;
  transform-style: preserve-3d;
}

#coin div {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
  backface-visibility: hidden;
  background-size: contain;
  position: absolute;
}

.heads {
  background-image: url("./images/head.png");
}

.animate-heads {
  animation: flipHeads 3s;
  animation-fill-mode: forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1800deg);
  }
}

.tails {
  background-image: url("./images/tail.png");
  transform: rotateY(-180deg);
}

.animate-tails {
  animation: flipTails 3s;
  animation-fill-mode: forwards;
}

@keyframes flipTails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1620deg);
  }
}
